[Unit]
# For more information see https://docs.nvidia.com/datacenter/cloud-native/container-toolkit/latest/cdi-support.html
# It looks like the podman/CDI integration wants a pre-generated list of hardware
Description=Generate /etc/cdi/nvidia.yaml

[Service]
Type=oneshot
ExecStart=nvidia-ctk cdi generate --output=/etc/cdi/nvidia.yaml
RemainAfterExit=yes

[Install]
# TODO: Ensure we have a target that is like "container setup"
WantedBy=multi-user.target
